@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
}

body, html {
  background-color: #c5e4e7;
  height: 100%;
  display: grid;
  font-family: "Space Mono", monospace;
}

.title {
  position: absolute;
  left: 49.5%;
  top: 10%;
  font-size: 25px;
  color: #00494d;
  font-weight: bold;
  letter-spacing: 5px;
}

.card {
  box-sizing: border-box;
  border-radius: 30px;
  padding: 20px;
  max-width: 1000px;
  margin: auto;
  font-size: 12px;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  grid-template-areas: "left right";
}
.card p {
  font-weight: 700;
  color: #5e7a7d;
}
.card .left {
  box-sizing: border-box;
  grid-area: left;
  display: grid;
  border-radius: 15px;
  padding: 25px;
  row-gap: 10px;
  grid-template-columns: minmax(10px, 90px), minmax(10px, 90px), minmax(10px, 90px);
  grid-template-rows: 0.2fr 2fr 0.2fr 2fr 2fr 0.2fr 2fr;
  grid-template-areas: "txtBill txtBill txtBill" "inputNumber inputNumber inputNumber" "txtSelect txtSelect txtSelect" "porcentagem porcentagem porcentagem" "porcentagem porcentagem porcentagem" "txtPeople . cantbe0" "peopleNum peopleNum peopleNum";
}
.card .left input[type=number] {
  box-sizing: border-box;
  height: 100%;
  text-align: end;
  padding: 5px;
  background-color: #f4fafa;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font-family: "Space Mono", monospace;
  font-size: 22px;
}
.card .left .txtBill {
  grid-area: txtBill;
}
.card .left #inputNumber {
  grid-area: inputNumber;
}
.card .left #txtSelect {
  grid-area: txtSelect;
}
.card .left #txtPeople {
  grid-area: txtPeople;
}
.card .left #cantbe0 {
  justify-self: end;
  grid-area: cantbe0;
}
.card .left #peopleNum {
  grid-area: peopleNum;
}
.card .left .porcentagem {
  box-sizing: border-box;
  grid-area: porcentagem;
  display: grid;
  grid-template-columns: minmax(10px, 90px) minmax(10px, 90px) minmax(10px, 90px);
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  grid-template-areas: " _5 _10 _15" " _25 _50 custom";
}
.card .left .porcentagem input[type=button] {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  border: none;
  font-weight: bold;
  font-size: 20px;
  background-color: #00494d;
  color: white;
}
.card .left .porcentagem #_5 {
  grid-area: _5;
}
.card .left .porcentagem #_10 {
  grid-area: _10;
}
.card .left .porcentagem #_15 {
  grid-area: _15;
}
.card .left .porcentagem #_25 {
  grid-area: _25;
}
.card .left .porcentagem #_50 {
  grid-area: _50;
}
.card .left .porcentagem #custom {
  grid-area: custom;
}
.card .right {
  box-sizing: border-box;
  grid-area: right;
  background-color: #00494d;
  display: grid;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 25px;
}

.attribution {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding-bottom: 15px;
  text-align: center;
  font-size: 12px;
}

.custom {
  border: none;
  width: 100%;
  text-align: center !important;
  font-weight: bold;
  font-size: 22px;
  background-color: #f4fafa;
  color: #5e7a7d;
}
.custom:hover {
  text-align: end !important;
  color: #00494d;
}
.custom:enabled {
  text-align: end !important;
  color: #00494d;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
/*# sourceMappingURL=style.css.map */
