
// -- bodyBG
$bodyBG: hsl(185, 41%, 84%);

// -- background 
$CardBG:white;
$txtTitle:hsl(183, 100%, 15%);
$pColorCard:hsl(186, 14%, 43%);
$rightBGcolor:hsl(183, 100%, 15%);
$buttonBGcolor:hsl(183, 100%, 15%);
$bgColorInput: hsl(189, 41%, 97%);
$txtColorCustom:hsl(186, 14%, 43%);
$seila: hsl(184, 14%, 56%);
